.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 100%;
  @include resp(medium) {
    width: 85%;
  }
  @include resp(xsmall) {
    width: 90%;
  }
}

.section {
  margin-bottom: 2rem;
  margin-top: 1rem;
  word-wrap: break-word;

  &::after {
    @include hr-after;
  }
}

hr {
  border: 0;

  &::after {
    @include hr-after;
    top: -0.75rem;
  }
}

.paper {
  // background-color: $main-background;
  // border: 1px solid $primary-light;
  // box-shadow: -1px 5px 35px -9px hsla(0, 0%, 0%, 0.2);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 2rem;
  @include resp(xs) {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1rem;
    width: 100%;
  }
  box-shadow: 8px 8px 15px #CFDAE7;
  border-radius: 1.2em;
    // background-image: linear-gradient(120deg, #f5fbff 25%, rgba(255,255,255,0) 50%), linear-gradient(300deg, #ADBAC8 14%, rgba(255,255,255,0) 40%);
    background-image: linear-gradient(165deg, #EAF1F8 9%, #DFE8F5 80%);
}
